body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fceff9, #e0f7fa);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("fondo.jpg"); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* Centra horizontal */
    align-items: center;       /* Centra vertical */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    cursor: pointer;
}
